<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <script defer src="/js/fact.js"></script>
  </head>
  <body>
    <div class="container">
      <%- include('./partials/nav.ejs') %>
      <a href="/facts" class="btn btn--back">&larr; Back to facts</a>
      <main>
        <div class="fact">
          <h2 class="fact__title"><%= fact.title %></h2>
          <p class="fact__date"><%= fact.date %></p>
          <span class="fact__category"><%= fact.category %></span>
          <p class="fact__description"><%= fact.description %></p>
          <button class="btn btn--edit">
            <ion-icon name="brush-outline" class="icon"></ion-icon>Edit
          </button>
          <button class="btn btn--delete">
            <ion-icon name="trash-outline" class="icon"></ion-icon>Delete
          </button>
        </div>
      </main>
      <%- include('./partials/footer.ejs') %>
    </div>
    <!-- OVERLAY -->
    <div class="overlay hidden"></div>
    <!-- EDIT MODAL -->
    <div class="modal modal__edit hidden">
      <button class="btn--close-modal btn--close-edit">&times;</button>
      <form class="fact__form">
        <label for="fact__title">Title:</label>
        <input type="text" id="fact__title" name="title" required />

        <label for="fact__category">Category:</label>
        <input type="text" id="fact__category" name="category" required />

        <label for="fact__description">Description:</label>
        <textarea name="description" id="fact__description" cols="30" rows="10" required></textarea>

        <button type="submit" class="btn btn--submit btn__edit">Add fact</button>
      </form>
    </div>

    <%- include('./partials/modalDelete.ejs') %>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>
